<h1>
  {{title}}
</h1>

lib
line
<chart-line></chart-line>
pie
<chart-pie></chart-pie>
column
<chart-column></chart-column>
bar
<chart-bar></chart-bar>
custom
<chart-line [lineChartData]="lineChartData" [lineChartLabels]="lineChartLabels" (lineChartClickData)="onDrilldown($event)" [lineChartMonth]="lineChartMonth"></chart-line>
<chart-pie [legend]="legend"></chart-pie>